* {
    padding: 0px;
    margin: 0px;
}

.container {
    margin: 50px;
    height: 100px;
    width: 300px;
    border: 2px solid;
    border-color: black;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-around;

}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.bottom-row {
    display: flex;
}

.button {
    background-color: rgb(250, 232, 64);
    padding: 3px 6px;
    box-shadow: 3px 2px 1px rgb(0, 0, 0);
}